form(name="searchForm", action="", method="get").search-form
  input(type='text', name='searchInput', placeholder='E.G. Dickens') 
  input(type='submit').btn.btn-primary 

form.form-search
  each item in questions
      ul
        li= item.difficulty
        li= item.year
        li= item.category
        li= item.question
        li= item.answer
