script
  function showDiv(){
    document.getElementById('searchResultsDiv').style = "display:all";
  }

div
  form(name="searchForm", action="", method="get").center.well.search-form
    div
      input(type='text', name='searchInput', placeholder='ex. Dickens').input-xlarge.search-query
    button(type='submit', onclick="showDiv()").btn.btn-primary Search

div(id="searchResultsDiv", style="display:all;")
  div.row-fluid
    form.well
      each item in questions
        ul
          li= item.difficulty
          li= item.year
          li= item.category
          li= item.question
          li= item.answer
