h2 Signup
- if ('undefined' !== typeof errors && errors.length)
  ul#errors
    - each error in errors
      li.error= error
form(action='/signup', method='POST')
  #login
    label(for=everyauth.password.loginFormFieldName) Username
    input(type='text', name=everyauth.password.loginFormFieldName, value=userParams[everyauth.password.loginFormFieldName])
  #password
    label(for=everyauth.password.passwordFormFieldName) Password
    input(type='password', name=everyauth.password.passwordFormFieldName)
  #email
    label(for='email') Email
    input(type='text', name='email')
  #first-name
    label(for='name.first') First Name
    input(type='text', name='name.first')
  #last-name
    label(for='name.last') Last Name
    input(type='text', name='name.last')
  #submit
    input(type='submit') Signup
